SelectOptionDialog {
    align: center middle;

    Vertical {
        width: auto;
        height: auto;
        border: thick hsl(0, 0%, 15%);
        background: hsl(0, 0%, 20%);
        max-height: 90%;
        max-width: 90%;
        padding: 1 6;

        Label {
        }

        OptionList {
            margin: 1 1;
            width: 100%;
            height: 1fr;
        }

        Center {
            width: 100%;
            height: auto;

            Horizontal {
                height: auto;
                width: auto;
            }
        }
    }
}