SelectPathsDialog {
    align: center middle;

    Grid {
        width: auto;
        height: auto;
        border: thick hsl(0, 0%, 15%);
        background: hsl(0, 0%, 20%);
        max-height: 90%;
        padding: 1 6;
        grid-size: 2;
        grid-columns: auto;
        grid-rows: auto 1fr auto;
        grid-gutter: 1;
    }

    Label {
        column-span: 2;
        text-style: bold;
        margin-top: 1;
    }

    OptionList {
        column-span: 2;
        width: auto;
    }
}